.map {
    width: 250px;
    height: 489px;
    background: url(sprite-Governorates_of_Tunisia_blank.png) left top no-repeat;
    position: relative;
}

.map .overlay {
    width: 250px;
    height: 489px;
    background: url(sprite-Governorates_of_Tunisia_blank.png) 250px top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map .tooltip {
    position: fixed;
    border-radius: 5px;
    color: #FFF;
    background: #000;
    padding: 0 10px;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}
